* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff;
    color: #111;
}

/* GLOBAL */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.section-title {
    font-size: 28px;
    margin: 40px 0 20px;
}

/* HEADER */
.header {
    padding: 25px 0;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
}

.menu {
    width: 30px;
    cursor: pointer;
}

/* HERO */
.hero {
    margin-top: 20px;
    background: #ffe9e9;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left {
    max-width: 50%;
}

.hero-left h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero-left p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.price {
    color: #e60073;
    margin-bottom: 15px;
}

.btn-pink {
    background: #ff3ca6;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.hero-right img {
    width: 350px;
}

/* CATEGORY */
.category-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.category-card {
    flex: 1;
    min-width: 220px;
    color: #fff;
    padding: 20px;
    border-radius: 12px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cat-orange {
    background: #ff9f43;
}

.cat-pink {
    background: #ff006a;
}

.cat-blue {
    background: #3f38ff;
}

.category-card img {
    width: 70px;
}

/* PRODUCTS */
.product-grid {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.product-card {
    flex: 1;
    min-width: 260px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #eee;
}

.product-card img {
    width: 200px;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card p {
    color: #555;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 10px;
}

.product-card h4 {
    margin-bottom: 15px;
}

.btn-black {
    background: black;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* NEWSLETTER */
.newsletter {
    background: #ffe9e9;
    margin-top: 60px;
    padding: 60px 20px;
}

.newsletter-box {
    text-align: center;
}

.newsletter-box h2 {
    margin-bottom: 10px;
}

.newsletter-form {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.newsletter-form input {
    width: 280px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

/* RESPONSIVE */
@media(max-width:992px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-left {
        max-width: 100%;
    }
}

@media(max-width:640px) {

    .category-grid,
    .product-grid {
        flex-direction: column;
    }

    .newsletter-form {
        flex-direction: column;
    }

    .newsletter-form input {
        width: 100%;
    }
}